.about{
  margin-top: 152px;
  height: 552px;
}
.about__container{
  position: relative;
}
.about__img{
  float: left;
  width: 490px;
}
.about__content{
  position: absolute;
  width: 785px;
  height: 455px;
  background:url(../../image/mountains.jpg) ;
  right: 0;
  top: 97px;
  padding-top: 70px;
  padding-left: 81px;
  padding-right: 81px;
  padding-bottom: 66px;
}
.about__text{
  margin-top: 37px;
  margin-bottom: 43px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #060606;
}