footer{
  height: 146px;
  display: block;
  background: #001821;
}
.container{
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  max-width: 1142px;
}
.logo{
  float: left;
  margin-top: 45px;
}

.menu{
  margin-left: 79px;
  margin-top: 59px;
}
.socials{
  display: inline-flex;
  margin-top: 49px;
  margin-left: 274px;

}
.contacts{
  float: right;
  margin-top: 42px;
}
.contacts__phone{
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #fff;
}
.contacts__call{
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: #9A9A9A;
  margin-left: 28px;
}