.news{
  margin-top: 127px;
  height: 552px;
}
.news__item{
  display: inline-block;
  width: 557px;
  height: 394px;
  margin-top: 51px;
  margin-right: 23px;
}
.news__item:last-child{
  margin-right: 0px;
}
.news__item{
  position: relative;
}

.news__content{
  position: absolute;
  top: 252px;
  left: 30px;
}
.paginator{
  margin-top: 58px;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.paginator__item{
  margin-left: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  color: #FFFFFF;
}
.paginator__display{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.news__text{
  margin-top: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.news__title{
  margin-top: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;  
  color: #FFFFFF;
}
.news__date{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.news__img{
  border-radius: 5px;
}