.offers{
  margin-top: 246px;
}

.offers__item{
  width: 362px;
  height: 449px;
  display: inline-block;
  color: #000;
  margin-top: 51px;
  margin-right: 23px;
  background-color: #fff;
}
.offers__item:last-child{
  margin-right: 0px;
}
.offers__content{
 padding-top: 33px;
 padding-left: 22px;
}
.offers__title{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;  
  padding-bottom: 21px;
}
.offers__feature{
  display: inline-block;
  padding-bottom: 23px;
  padding-left: 6px;
  padding-right: 28px;

}
.offers__feature-text{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-left: 9px;
  color: #666666;
  display: inline-block;
}
.offers__feature-icon{
  display: inline-block;
}
.offers__text{
  width: 324px;
  height: 63px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #303030;
}
.feature__button{
  margin-top: 24px;
}
.feature__button--light{
  border: 1px solid #F5170E;
  color: #F5170E;
  margin-top: 24px;
  background: #FFFFFF;
}
.offers__img{
  width: 362px;
  height: 144px;
}
.title--fire::after{
  content: "";
  width: 21px;
  height: 28px;
  background: url(../../image/flame.png);
  display: inline-block;
  margin-left: 12px;
}