.offers{
  margin-top: 246px;
}
.offers__item{
  width: 362px;
  height: 449px;
  display: inline-block;
  color: #000;
  margin-top: 51px;
  margin-right: 23px;
  background-color: #fff;
}
.offers__item:last-child{
  margin-right: 0px;
}
.offers__content{
  width: 362px;
  height: 449px;
  width: 362px;
  height: 305px;
}
.offers__title{
  margin-top: 33px;
  margin-left: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;  
}
.offers__feature{
  display: inline-flex;
  margin-top: 23px;
  margin-left: 28px;


}
.offers__feature-text{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: inline-flex;
  
  color: #666666;
  margin-top: 25px;
  margin-left: 10px;
}
.offers__text{
  width: 324px;
  height: 63px;
  margin-top: 24px;
  margin-left: 22px;
  margin-right: 16px;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #303030;

}
.button feature__button{
  margin-top: 25px;
  margin-left: 24px;
}
.offers__img{
  width: 362px;
  height: 144px;  
}
.offers__feature-iconcalendar{
  margin-top: 21px;
  margin-left: px;
  width: 26px;
  height: 26px;
 
}
.offers__feature-iconmeal{
  width: 36px;
  height: 26px;   
  margin-top: 21px;
  margin-left:px ;
 
}